body {
  
  align-items: center;
  background: url(wp37091372.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-right: 90px;
  padding-left: 50px;

}

header {
  position: relative;
  background: transparent;

  text-align: center;

  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.activeH {
  visibility: hidden;
  top: 0px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;

  background-color: #ffffff;
  padding-top: 60px;
  transition: left 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
}

.sidebar ul li {
  background: none;

  margin-top: none;
  border-radius: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.sidebar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-style: oblique;
}

.sidebar ul li a:hover {
  color: #13a2ef;
}

/* Hamburger Menu Icon */
.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-icon .bar {
  height: 4px;
  display: flex;
  gap: 5px;

}

.menu-icon .barin {
  height: 4px;
  width: 4px;
  background-color: #000000;
  margin: 5px 0px;
  transition: all 0.4s ease;
  border-radius: 4px;
}


/* Active Sidebar */
.sidebar.active {
  left: 0;
}

#img {
  position: absolute;
  top: 20px;
  right: 0px;
}

.search-container {
  position: absolute;
  top: 20px;
  justify-content: center;
  background-color: #f0f8ff;
  width: 50%;
  height: 40px;
  display: flex;
  color: #555;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 45px;
  margin: 0 0 10px;


}

.search-box {
  width: 100%;
  height: 40px;

  border: transparent;
  border-radius: 20px;
}

.search-box:focus {
  outline: none;
  border-color: transparent;
  text-indent: 0%;
}

.search-button {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  cursor: pointer;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  opacity: 0.7;

}


.main-container {
  margin-top: 70px;
  background-color: #2c2929;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-radius: 25px;
  padding: 15px;
  gap: 20px;

}

.row1 {
  display: flex;

  width: 100%;
  height: 300px;
  flex-direction: row;
  gap: 10px;

}



.row1div1 {
  background-color: #555;
  width: 25%;
  height: 280px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.row2div1 {
  background-color: #555;
  width:50%;
  height:100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.row2div2{
  
  width:50%;
    height: 300px;
    border-radius: 10px;
   overflow: hidden;
    
}
.row2div3{
  display: flex;
  width:50%;
    height: 280px;
    border-radius: 10px;
    gap: 10px;
}

.row2div2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
  width: 50%;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  z-index: 10;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

.btn:hover {
  background-color: #03b70c;
}

.collor {
  background-color: #0a82eb;
  color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  z-index: 10;

}


.container {
  width: 50%;
 
  text-align: center;
  padding: 50px;
  background: white;
  border-radius: 10px;
  overflow:hidden;
}

.row-container {
  width: 50%;
 
  text-align: center;
  padding: 50px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

#joke {
  margin: 20px 0;
  font-size: 1.2rem;
}

#collor {
  padding: 10px 20px;
  background-color: #a55319;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

#getJoke {
  padding: 10px 20px;
  background-color: #32a15b;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

#getJoke:hover {
  background-color: #4503b7;
}






/* IMAGE INSEERT IN THE ALL ROW DIVISION  */


@media (max-width: 1181px) {
  body {
   
    padding-right: 40px;
    padding-left: 10px;
  
  }
  .search-container {
    top: 20px;
    width: 50%;
    height: 30px;
    border-radius: 45px;
  }

  .search-box {
    width: 100%;
    height: 30px;
    border-radius: 20px;
  }

  .row1 {
    height: 200px;
  }
  .row1div1 {
    height: 180px;
  }
  
  .carousel-container {
    height: 200px;
  }
  .row2div2{
   
      height: 200px;
  }
  .row2div3{
   width:50%;
    height: 200px;
    overflow: hidden;
}
.row2div1 {
  
  width:50%;
  height:180px;
}
.container{
  font-size: small;
  padding-top: 10px;
}
}

@media (min-width:1610px)  {
  
  
  .row1 {
    display: flex;
  
    width: 100%;
    height: 400px;
    flex-direction: row;
    gap: 10px;
  
  }
  
  .row1div1 {
    width: 25%;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
  }

  .row2div2 {
    height: 400px;
  }
  .row2div3{
      height: 380px;
  }
  
  .carousel-container {
    height: 400px;
  }
  

  
}

@media(max-width:434px){
  .row1 {
    align-items: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
  
  }

  .row1div1 {
    width: 95%;
    height: 400px;
    border-radius: 10px;
  }
  
  .row2div1 {
    width:50%;
    height:100%;
  
  }
  
  .row2div2{
    
    width:100%;
      height: 400px;
      
  }
  .row2div3{
   
    width:100%;
      height: 400px;
  }
  
  .row2div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel-container {
    width: 100%;
    height: 500px;
  }
  #joke{
    font-size: x-small;
  }
  .container {
    width: 81%;
    padding: 30px;
    font-size:xx-small;
    height: 500px;
    padding-top: 10px;
  }
  
  .row-container {
    width: 81.0%;
    padding: 30px;
    height: 400px;
  }
}